body {
            width:75%;
            max-width: 650px;
            min-height: 320px;
            font-size: 100%;
            font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman' , serif;
            margin: auto;
            background-color: aqua
            color: #333;
            line-height: 1.8em;
        }

section {padding: 2em 0 2em 0}
    
/* TYPOGRAPHY */

        h1,h2,h3{
    font-weight normal;
        }
        
        h1 {font-size: 3.375em;}
        h2 {font-size: 2.25em;}
        h3 {font-size: 1.5em;}

.intro {font-size: 1.25em; 
line-height: 1.9em;
padding:    }